* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(255, 247, 235);
}

.wrap {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  position: absolute;
  width: 500px;
  height: 500px;
}

h1 {
  font-family: "Open Sans Condensed", sans-serif;
}

a {
  color: rgb(48, 48, 48);

  text-decoration: none;
}
